* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #EDF1F4;
  /* color: #ffffff; */
}


.container {
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
  background-color: #EDF1F4;

}

.sidebar {
  background: #EDF1F4;
  color: #EDF1F4;
  margin-right: #000;
  margin-right: 10px;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;

}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  width: 80px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  color: #747474;
}

.link {
  display: flex;
  color: #747474;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: #D9D9D9;
  color: #044B6E;
  transition: all 0.5s;
  border-radius: 20px;
}

.active {
  background: #D9D9D9;
  color: #044B6E;
  border-radius: 20px;
}

.icon,
.link_text {
  font-size: 20px;
}